:root {	
	--font-family: 'Monaco';

	--font-heading: 3.125rem;
	--font-body: 1.875rem;
	--font-caption: 1.25rem;

	--size-big: 6rem;
	--size-medium: 4rem;
	--size-small: 2.5rem;
}

@font-face {
	font-family: 'Monaco';
	font-style: normal;
	font-weight: normal;
	src: local('Monaco'), url('Monaco.woff') format('woff');
	}